<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmt.kotlin.eyepetizer.discover">

    <application>
        <activity
            android:name=".activity.RecommendVideoAndPhotoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CategoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TopicDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>

</manifest>